*{
    padding: 0%;
    margin: auto;
}
/* l'entête de la page*/
header{
    width: 100%;
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    position: fixed;
    z-index: 20;
}
header div{
    width: 30%;
    overflow: hidden;
    margin-top: 5px;
}
header div img{
    width: 40%;
    height: 100px;
    border-radius: 75px;
    box-shadow: 1px 2px 5px rgb(0, 0, 10, 0.5);
}
header nav{
    width: 60%;
}
header nav ul{
    display: flex;
    align-content: space-around;
}
header nav ul li{
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    font-size: 1.9em;
    color: white;
}
header nav ul li a:hover{
    text-transform: uppercase;
    border-top: 2px solid white;
    color: white;
}
/* le pied de page*/
footer{
    background-color: lightblue;
    text-align: center;
    align-items: center;
}
footer ul{
    display: flex;
    padding: 10px;
}
footer ul li{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
}
hr{
width: 80%;
height: 20px;
background: linear-gradient(20deg,lightblue,whitesmoke,lightblue);
}

main{
    height: 92vh;
    margin-bottom: 30px;
}
h1{
    padding-top: 170px;
    text-align: center;
}
img{
    width: 300px;
}
#apropos{
    text-align: justify;
    width: 40%;
    
}
.presentation{
    text-align: center;
}
footer a img{
    width: 35px;
}